body {
    display: flex;
    flex-direction: column;
}

.person {
    border: 1px solid grey;
    border-radius: 4px;
    margin: 8px;
    padding: 4px;
}

button {
    margin: auto;
}

.home {
    margin: 8px;
    padding: 4px;
}